---
import Carrousel from "./Carrousel.astro";
import '../styles/global.css';

---
<!-- Componente de álbum de fotos y carrusel -->
<Carrousel />
<section class=" w-[90%] max-w-7xl mx-auto py-6 mt-8" id="album">
    <h2 class="line relative text-white mb-5 text-5xl pb-2 text-shadow text-center">Álbum de Fotos</h2>
    <p class="text-stone-950 mb-4 text-lg font-bold">Para ver el resto de fotos haga clic en el botón.</p>
    <div class="flex justify-center">
        <a class="btn text-sm md:text-lg p-3 md:px-5 md:py-3" href="https://photos.app.goo.gl/qEYdbme8gzyjqeSd7" target="_blank" rel="noopener">Fotos</a>
    </div>
</section>