---
import '../styles/global.css';
---
<!-- Componente de pie de página -->
<footer class="footer">
    <small>Sitio diseñado por
        <a href="https://ferchonte.com" target="_blank" rel="noopener">
            @Ferchonte
        </a>
    </small>
</footer>
<style>
    .footer {
    padding: 0.5rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--third-color);
}
</style>
