---
import '../styles/global.css';

---
<!-- Componente de encabezado crear un Nav-->
<header class="fixed w-full max-w-screen  pl-5 h-14 flex z-10">
    <nav class=" flex items-center justify-center w-full">
        <a href="#inicio" class="font-medium text-blue-100 mr-10 duration-300 ease-in-out hover:scale-150 ">Inicio</a>
        <a href="#invitacion" class="font-medium text-blue-100 mr-10 duration-300 ease-in-out hover:scale-150 ">Evento</a>
        <a href="#galeria" class="font-medium text-blue-100 mr-10 duration-300 ease-in-out hover:scale-150 ">Álbum</a>
        <a href="#mensajes" class="font-medium text-blue-100 mr-10 duration-300 ease-in-out hover:scale-150 ">Saludos</a>
    </nav>
</header>
