---
import '../styles/global.css';

import TemploSM from '../assets/Templo.webp';
---
<section id="inicio" class="home">
    <div class="hero-image" style={`background-image: url(${TemploSM.src});`}></div>
    <div class="opacity"></div>
    <div class="couple-names">
        <h1 class="name">Alicia</h1>
        <span class="ampersand">&</span>
        <h1 class="name">Brandon</h1>
    </div>
</section>
