---
import '../styles/global.css';
---
<section class="w-[90%] max-w-7xl mx-auto py-6 mt-8" id="mensajes">
    <h2 class="line relative text-white mb-5 text-5xl pb-2 text-shadow text-center">Mensajes y Deseos</h2>
    <p class="text-stone-950 mb-4 text-lg font-bold">¡Felicitaciones en su día especial! Que su amor crezca más y más cada día.</p>
    <p class="text-stone-950 mb-4 text-lg font-bold">Les deseamos toda la felicidad del mundo en esta nueva etapa de sus vidas.</p>
    <div class="flex justify-center">
        <a class="btn text-sm md:text-lg p-3 md:px-5 md:py-3" href="mailto:tellobarrazaaliciabrandon@gmail.com" target="_blank" rel="noopener">Enviar mensaje</a>
    </div>
</section>
